<!-- Good use of ng-repeat & ng-switch to edit profile data within a object-array. @DonRPage --> 
<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2>Angular Profile Editing</h2>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-click="logout()">Logout </a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="table-responsive">
    <table class="table table-bordered" style="margin-right:30px;">
      <thead>
        <tr>
            <th class="img">Profile Image</th>
            <th class="id">ID</th>
            <th class="firstname">Firstname</th>
            <th class="lastname">Lastname</th>
            <th class="username">Username</th>
            <th class="gender">Gender</th>
            <th class="address">Address </th>
            <th>Action </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in employees">
          <td><img src="{{ item.emp_img }}"/></td>
          <td>{{ item.id }}</td>
          <td>{{ item.firstname }}</td>
          <td>{{ item.lastname }}</td>
          <td>{{ item.username }}</td>
          <td>{{ item.gender }}</td>
          <td>{{ item.address }}</td>
          <td>
            <a ui-sref="editprofile({ id: item.id })"><button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-edit"></span></button></a>
            <button type="submit" ng-click="deleteProfile($index)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
