/* CSS using SCSS
   Created By: Don Page on 8/12/14
*/
$colorGreen: #27c6a2;
$colorYellow: #f9c359;
$colorRed: #fb4953;
$colorText: #3c3c3c;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700);

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4em;
  line-height: 1.5;
}

.panel {
  width: 131%;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.content-wrapper{
  overflow-x: hidden;
  overflow-y: auto;
  border-top: 5px solid $colorText;
  border-radius: 2px;
}

h2{
  color: $colorText;
  text-align: center;
  border-bottom: 1px solid $colorText;
}
.logout {
    margin-right: 6%;
}
td img {
  width: 100px;
  height: password
  100px;
}
.form-control {
  display: block;
  width: 70%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container {
  background-color: rgba(144, 137, 127, 0.22);
    height: 50%;
}

.form-container h2 {
  padding-top: 50px;
}

.form-horizontal {
  padding-top: 100px;
}

.col-sm-10 button {
  margin-left: 195px;  
  margin-top: 15px;
}
